
form {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h1 {
        text-align: center;
    }
    .inputs {
      width: 100%;
        
        input {
            width: 100%;
            font-size: 1rem;
            padding: 1rem;
            background-color: #fffe;
            color: #000;
            outline: none;
           border: none;
           border-radius: 0.30rem;
           margin-top: 0.6rem;
        }
    }

    .show {
        display: flex;
        align-items: flex-end;
        gap: 0.3rem;

        input {
            width: 1rem; height: 1rem;
            &:checked {
                accent-color: #133a95;
            }
        }
    }

    button {
        font-size: 1.25rem;
        padding: 0.9rem 0;
    }

    .recovery {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    small {
        font-size: 1rem;
    }
}